html {
  box-sizing: border-box;
  background-color: white;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
}

img {
  width: 100%;
  display: block;
}

h1 {

}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.banner img {
  width: 100%;
  grid-column: 1/3;

}

.banner-text {
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: end;
  z-index: 1;
}

h2 {
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: end;
  z-index: 1;
}

p {

}

figure img {

}


figcaption {

}


h2 {

}

dl {
margin: 0;
display: grid;
grid-template-columns:
rep
}

dt {

}

dd {

}
