html {
  box-sizing: border-box;
  background-color: white;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: white;
  font-weight: normal;
  margin: 0;
}

header {

}

header h1 {
  font-family: 'Merriweather', serif;
  font-size: 1.8rem;
}


}

main {

}

main .divides {
  display: grid;
  grid-template column: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

main .divides img {
 width: 100%;
 display: block;
}

main .first-txt {
  font-family: 'Merriweather', serif;
  margin: 0;
  grid-column: 1/2;
  grid-row:  1;
  align-self: end;
  z-index: 1;
}

main .second-txt {
  font-family: 'Merriweather', serif;
  margin: 0;
  color: #fff;
  font-size: 1.8rem;
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
}

main figure {

}

main figure img {
  width: 100%;
  display: grid;
  grid-template-columns: (3, 1fr);
}

main figure figcaption {
  font-size: 1.8rem;
}

main .description {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "header" "header" "header"
  "header" "header" "header"
  "sidebar" "footer" "main"
}

main .description dt {


}

main .description dd {
  font-size: 1.5rem;
}
